body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2C3E50;
    color: #fff;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.hamburger{
    width: 30px;
    height: 15px;
    background-color: rgba(171, 157, 233, 0.5);
    border-radius: 5px;
    padding: 5px;
    position : relative;
}
.hamburger span{
    width: 80%;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}
.hamburger .span-1{
    transform: translate(-50%, -7px);

}
.hamburger .span-3{
    transform: translate(-50%, 5px);

}

.rotate .span-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.rotate .span-3{
    transform: translate(-50%, -50%) rotate( 45deg);
}
.rotate .span-2{
  width: 0;
}

header img{
    margin: 10px;
    width: 5%;
    border-radius: 50%;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: rgb(212, 210, 210);
    color: black;
    text-align: center;
    padding: 50px 20px;
    height: 40vh;
    position: relative;
    z-index : -1;
}
}

.hero h2 {
    margin-top: 20px;
}

.hero button {
    background: #2C3E50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.about {
    display: flex;
    align-items: center;
    padding: 20px;
   justify-content: center;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 55%;

}
.about p{
    margin-top: 80px;
}
.skills {
    background: #f4f4f4;
    padding: 20px;
}

.skills .container {
    text-align: center;
}

.skills-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    display: inline;
    margin: 10px;
    
}
.skill img {
    width: 30%;

}

footer {
    background: #2C3E50;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

footer p {
    margin: 5px 0;
}
footer img {
    width: 30px;
    border-radius: 50%;
    margin-left: 50px;
}

/* Hamburger menu styles */
#hamburger {
    display: none; /* Hide by default */
}


@media only screen and (max-width: 600px) {
    nav ul {
        display: none; /* Hide navigation menu by default on small screens */
    }

    #hamburger {
        display: block; /* Show hamburger icon on small screens */
        cursor: pointer;
    }

    main {
        max-width: 80%; /* Adjust width for small screens */
        margin: 0 auto; /* Center main content */
    }
}
