@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Arial, sans-serif; 
}

.header {
    background-color: rgba(21, 21, 94, 0.877);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
}

h3, img, p {
    margin: 0 20px; 
}

h3 {
    text-align: center;
    margin-top: 30px
}

h2 {
    background-color: rgba(21, 21, 94, 0.877);
    color: white;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px; 
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 10px; 
}

footer {
    background-color: rgba(21, 21, 94, 0.877);
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
}

footer p {
    margin-bottom: 5px;
}

#img1 {
    float: right;
    width: 120px;
    height: auto;
}

#img2 {
    float: left;
    width: 120px;
    height: auto;
}
